tr,td{
	padding:50px;
}
#hello{
	border: 1px solid;
	border-color: black;
}
#upmid{
	border-left: 1px solid;
	border-right: 1px solid;
	border-color: black;
}
#sides{
	border-top: 1px solid;;
	border-bottom: 1px solid;
	border-color: black;
}
table{
	margin:auto;
}
h1{
	text-align: center;
	color:red;
}