body{
    background-color: rgb(242, 255, 204);
    background-image: url('new.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
h1,h2{
    text-align: center;
    background-color: rgba(78, 73, 73, 0.267);
    margin: auto;
}
#card{
    width: 15rem;
    border:2px solid black;
    background-color: white;
    box-shadow:7px 7px grey;
}
#card:hover{
    background-color: rgba(155, 155, 134, 0.836);
    padding: 20px;
    display: block;
}
table{
    align-content: center;
    margin: auto;
}
td,tr{
    padding: 10% 10%;
}
#contactme{
    text-align: center;
    margin: auto;
    background-color:  rgba(78, 73, 73, 0.267);
}
