body{
	background-color: lightslategrey;
}
h1{
	font-family: 'Chelsea Market', cursive;
	text-align: center;
	background-color: lavenderblush;
}
h2{
	font-family: 'Lobster', cursive;
	color: green;
	text-align: center;
	background-color: cyan;
}
table{
	margin: auto;
	width: 90%;
	object-fit: fill;
}
h3{
	font-size: 30px;
}
#hello{
	width: 30px;
	height: 30px;
}
div{
	text-align: center;
	background-color: black;
	color: white;
	font-family: 'Chelsea Market', cursive;
	font-weight: 300;
}